@charset "utf-8";

body {
	margin-left: auto;
	margin-right:auto;
	width: 70%;
	max-width: 1020px;
	min-width: 640px;
    
		
}
header > img {
	margin: 0;
	width: 50%;
	overflow: hidden;
	float:left;
	
}

header > h1 {
	clear: left;
}

body>header>nav.group{
	/* width:20%; */
	line-height: 150px;
	/* float: left; */
	/* display:block; */
	text-align:right;
	border: 1px ;;
	
}

nav li {
	display: inline;
	
}

 body>section{
	float:left;
	width:70%;
	border: 1px solid red;;
}





body>aside{
    width:20%;
	border: 1px solid blue;
    /* float:left; */
	/* padding:5px; */
}

